
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hi</h1>
<form action="{% url 'main' %}" method="POST" style="padding: 10px" >
                          {% csrf_token %}
                          <div class="form-error">{{ form.non_field_errors }}</div>
                          <div class="u-form-group u-form-name">
                            {{ form }}
                          </div>
                          <div class="u-form-group u-form-submit">
                            <button type="submit" class="u-btn u-btn-submit u-button-style u-palette-2-base u-btn-1">Отправить</button>
                          </div>
                        </form>
</body>
</html>